<template>
  <template>
    <div class="col-md-12 col-lg-12">
      <div class="row">
        commets
      </div>
      <hr>
    </div>
  </template>
</template>

<script>
export default {
  name: "comments"
}
</script>

<style scoped>

</style>