<template>
  <div class="col-md-5">
    <img  style="max-width: 500%" class="d-block w-100" src="image-carousel.vue" alt="test">
  </div>

</template>

<script>
export default {
  name: "image-carousel",
  props: ['image'],
}
</script>

<style scoped>
</style>