<template>
  <div class="container shopping-cart">
<div class="content">
  <h2>{{ products.data.name }}</h2>
  <hr/>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-5">
          <img  style="max-width: 500%" class="d-block w-100" :src="products.data.image" alt="test">
        </div>
        <div class="col-md-7">
          <div class="row">
          <h3>Price:{{products.data.price}} {{products.data.moneyType}}</h3>
          </div>
          <div class="row">Color: {{products.data.color}}</div>
          <div class="row">Screen: {{products.data.screen}}</div>
          <div class="row">Ram: {{products.data.ram}}</div>
          <div class="row">Memory: {{products.data.memory}}</div>
          <hr/>
          <div class="row">Main Camera: {{products.data.mainCamera}}</div>
          <div class="row">Front Camera: {{products.data.frontCamera}}</div>
          <div class="row">Operating System: {{products.data.operatingSystem}}</div>
          <hr/>
          <div class="row">Producer: {{products.data.producer}}</div>
          <div class="row">Production Year: {{products.data.productionYear}}</div>
          <div class="row">Category: {{products.data.categoryId}}</div>
          <hr/>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
</div>
</template>


<script>
import {getById} from "@/common/product.service";
export default {
  name: 'ProductDetailComponent',
  data() {
    return {products: {}}
  },

  created() {
    this.getProducts();
  },
  methods: {
    getProducts() {
      getById(this.$route.params.id).then(response => {
        this.products = response.data;
        if (response.data.code!==1){
          alert(response.data.message)
          window.location.href = "http://localhost:8080/products";
        }
      })
    }
  }
}

</script>

<style scoped lang='scss'>

</style>