<template>
<ProductList/>
</template>

<script>
import ProductList from "@/components/ProductList";
export default {
  name: "Products",
  components: {ProductList}
}

</script>

<style scoped>

</style>